<!DOCTYPE html>
<html>
  <head>
    <title>Education Haiti - About</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
    We are a group of young Haitian professionals who want to help young Haitians achieve their dreams through education and mentorship.
    </p>
  </body>
</html>
