<div class="center jumbotron">
  <h1>Start building your future. Today.</h1>

  <h2>
    We connect ambitious high school students with mentors
    to help you get into your dream universities.
  </h2>

  <%= link_to "Get started", 'signup', class: "btn btn-lg btn-primary btn-homepage" %>
</div>

<div class="row feature_row">

  <h2>We walk you through a proven process.</h2>
<div class="feature col-md-4 center">
  <div class="icon" id="icon_1">
  </div>
    <h4>Read our step-by-step guide</h4>
</div>

<div class="feature col-md-4 center">
  <div class="icon" id="icon_2">
  </div>
    <h4>Connect with a knowledgeable mentor</h4>
</div>

<div class="feature col-md-4 center">
  <div class="icon" id="icon_3">
  </div>
    <h4>Get accepted in your dream school</h4>
</div>
</div>

<div class="center">
  <h2>You too can get into your dream school!</h2>
  <%= link_to "I want to get started!", 'signup', class: "btn btn-lg btn-primary btn-homepage" %>
</div>
