<div class="center jumbotron">
  <h1>Welcome to Big Brother!</h1>

  <h2>
    This is the home page for the
    Big Brother</a>
     application.
  </h2>

  <%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>
</div>
