<div class="row feature_row">

  <h2>We walk you through a process that is simple and effective.</h2>
<div class="feature col-md-4 center">
  <div class="icon" id="icon_1">
  </div>
    <h4>1- Read our step-by-step guide.</h4>
</div>

<div class="feature col-md-4 center">
  <div class="icon" id="icon_2">
  </div>
    <h4>2- Connect with a dedicated mentor.</h4>
</div>

<div class="feature col-md-4 center">
  <div class="icon" id="icon_3">
  </div>
    <h4>3- Get accepted to your dream school!</h4>
</div>
</div>


<div class="row feature_row" id="mentors_row">

  <h2>Our mentors are friendly and knowledgeable.</h2>
<div class="feature col-md-4 center">
  <div class="mentor" id="mentor_1">
  </div>

  <img class="profilePic img" alt="Cédric K. Delmy" src="https://s3-us-west-2.amazonaws.com/educationhaiti.com/1476138_551561371585677_1054825850_n.jpg">

  <h4>Cédric, MIT 2018</h4>
</div>

<div class="feature col-md-4 center">
  <div class="mentor" id="mentor_2">
  </div>

  <img class="profilePic img" alt="Romie Desrogène" src="https://s3-us-west-2.amazonaws.com/educationhaiti.com/romie.jpg">
  <h4>Romie, Princeton 2017</h4>
</div>

<div class="feature col-md-4 center">
  <div class="mentor" id="mentor_3">
  </div>

  <img class="profilePic img" alt="Jean-Pierre K. Vertil" src="https://s3-us-west-2.amazonaws.com/educationhaiti.com/jean-pierre.jpg">

  <h4>Jean-Pierre, Notre Dame 2017</h4>
</div>

</div>


<div class="center cta">
  <h2>Get started before it's too late!</h2>
  <%= link_to "I want to get started!", 'signup', class: "btn btn-lg btn-primary btn-homepage", id:"main_CTA_homepage" %>
</div>
