<div class="center jumbotron">
  <h1>Start building your future. Today.</h1>

  <h2>
    We connect ambitious high school students with mentors
    to help you get into your dream universities.
  </h2>

  <%= link_to "Get started", 'signup', class: "btn btn-lg btn-primary btn-homepage" %>
</div>

<div class="row feature_row">

  <h2>We walk you through a process that is simple and effective.</h2>
<div class="feature col-md-4 center">
  <div class="icon" id="icon_1">
  </div>
    <h4>1- Read our step-by-step guide.</h4>
</div>

<div class="feature col-md-4 center">
  <div class="icon" id="icon_2">
  </div>
    <h4>2- Connect with a dedicated mentor.</h4>
</div>

<div class="feature col-md-4 center">
  <div class="icon" id="icon_3">
  </div>
    <h4>3- Get accepted in your dream school!</h4>
</div>
</div>


<div class="row feature_row" id="mentors_row">

  <h2>Our mentors are highly competent and approachable.</h2>
<div class="feature col-md-4 center">
  <div class="mentor" id="mentor_1">
  </div>

  <img class="profilePic img" alt="Cédric K. Delmy" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p320x320/1476138_551561371585677_1054825850_n.jpg?oh=fd0e1f0fa3c5880b7e262b08734e6cc4&amp;oe=55A7C071&amp;__gda__=1437791443_2c52095169622f1918ed06d70aff47ee">

  <h4>Cédric, MIT 2018</h4>
</div>

<div class="feature col-md-4 center">
  <div class="mentor" id="mentor_2">
  </div>

  <img class="profilePic img" alt="Romie Desrogène" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c0.39.320.320/p320x320/11008419_10206153058611629_472995828015917157_n.jpg?oh=e6e8ccb413e63a5b537d789d353f7d7b&amp;oe=559B27E4&amp;__gda__=1436552596_a62faa7417a8a218a1b820c17e00b719">
  <h4>Romie, Princeton 2017</h4>
</div>

<div class="feature col-md-4 center">
  <div class="mentor" id="mentor_3">
  </div>

  <img class="profilePic img" alt="Jean-Pierre K. Vertil" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c81.0.320.320/p320x320/10416621_10201879051969477_2168666948102314080_n.jpg?oh=8d2961c398e0f78d7369b8309933461c&amp;oe=5598CE5D&amp;__gda__=1437392054_5efd384dfb68eb6f80d3bb985a0d56a0">

  <h4>Jean-Pierre, Notre Dame 2017</h4>
</div>

</div>


<div class="center">
  <h2>Get started before it's too late!</h2>
  <%= link_to "I want to get started now!", 'signup', class: "btn btn-lg btn-primary btn-homepage", id:"main_CTA_homepage" %>
</div>
