<p id="notice"><%= notice %></p>

<h1>
Manual to study in the US
</h1>

<p  style=" margin: 12px auto 12px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block;">   <a title="View Etudier aux USA on Scribd" href="https://fr.scribd.com/doc/238362705/Etudier-aux-USA"  style="text-decoration: underline;" >Etudier aux USA</a> by <a title="View Jules D. Walter's profile on Scribd" href="https://www.scribd.com/jules_walter_1"  style="text-decoration: underline;" >Jules D. Walter</a></p><iframe class="scribd_iframe_embed" src="https://www.scribd.com/embeds/238362705/content?start_page=1&view_mode=scroll&access_key=key-RyKJjIsAmSKi0dXWJftd&show_recommendations=true" data-auto-height="false" data-aspect-ratio="0.7729220222793488" scrolling="no" id="doc_11670" width="100%" height="600" frameborder="0"></iframe>

<br />

<p class="center">If you have questions, you can email us any time at info@educationhaiti.com</p>
