  <h1>Start building your future</h1>

  <h2>
    We connect ambitious high school students with mentors <br />
    to help them get into their dream universities.
  </h2>

  <%= link_to "Get started", 'signup', class: "btn btn-lg btn-primary btn-homepage" %>